{
    "parser"    : "babel-eslint",
    "extends"   : [
        "standard",
        "standard-react"
    ],
    "env"   : {
        "browser"   : true
    },
    "rules": {
        "semi" : [2, "never"]
    },
    "plugins": [
        "react"
    ]
}